In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [68]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}'.format

In [69]:
df=pd.read_csv('2004.csv', low_memory=False)

In [70]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [71]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2158064 entries, 0 to 2158063
Data columns (total 23 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   checkoutyear            2158064 non-null  int64
 1   checkoutmonth           2158064 non-null  int64
 2   checkouts               2158064 non-null  int64
 3   title                   2158064 non-null  object
 4   creator                 2071296 non-null  object
 5   subjects                2145877 non-null  object
 6   publisher_x             2157250 non-null  object
 7   pages                   2158064 non-null  float64
 8   rating                  2158064 non-null  float64
 9   count_ratings           2158064 non-null  int64
 10  count_reviews           2158064 non-null  int64
 11  genres                  1971419 non-null  object
 12  perc_5stars             2158064 non-null  int64
 13  perc_4stars             2158064 non-null  int64
 14  perc_3stars             2158064 non-null  int64
 15  perc_2stars             2158064 non-null  int64
 16  perc_1stars             2158064 non-null  int64
 17  count_books_author      2158064 non-null  float64
 18  count_followers_author  2158064 non-null  float64
 19  author                  2158034 non-null  object
 20  awards                  2158064 non-null  int64
 21  publisher_y             2151974 non-null  object
 22  publicationyear         2158064 non-null  float64
dtypes: float64(5), int64(11), object(7)
memory usage: 378.7+ MB

In [72]:
df.tail()

,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher_x,pages,rating,count_ratings,count_reviews,genres,perc_5stars,perc_4stars,perc_3stars,perc_2stars,perc_1stars,count_books_author,count_followers_author,author,awards,publisher_y,publicationyear
2158059,2023,2,1,Death at Wentwater Court / Carola Dunn.,"Dunn, Carola","Dalrymple Daisy Fictitious character Fiction, ...","Minotaur Books,",240.00,3.70,10554,1026,"Genres,Mystery,Historical Fiction,Fiction,Cozy...",19,39,33,5,1,88.00,814.00,Carola Dunn,0,""":""Minotaur Books""",2015.00
2158060,2023,2,2,Western home landscaping : from the Rockies to...,NaN,"Landscape gardening West U S, Gardens West U S...","Creative Homeowner,",320.00,4.00,12,3,"Genres,Nonfiction",33,41,16,8,0,45.00,2.00,Roger Holmes,0,""":""Creative Homeowner""",2011.00
2158061,2023,2,1,The little house / story and pictures by Virgi...,"Burton, Virginia Lee, 1909-1968","Dwellings Juvenile fiction, Cities and towns J...","Houghton Mifflin co.,",44.00,4.29,40831,1388,"Genres,Picture Books,Childrens,Fiction,Classic...",55,25,14,3,1,41.00,193.00,Virginia Lee Burton,1,""":""Clarion Books""",1942.00
2158062,2023,2,1,Kiss & tell / Adib Khorram.,"Khorram, Adib","Dating Social customs Juvenile fiction, Gays J...","Dial Books,",384.00,3.70,3611,908,"Genres,LGBT,Romance,Young Adult,Contemporary,Q...",19,41,30,7,1,9.00,1457.00,Adib Khorram,0,""":""Dial Books""",2022.00
2158063,2023,2,1,Photographs / Roger Mayne ; introduction by Ra...,"Mayne, Roger","Mayne Roger, Photography Artistic","Jonathan Cape,",160.00,3.33,6,0,NaN,0,33,66,0,0,10.00,1.00,Roger Mayne,0,""":""Jonathan Cape""",2001.00

#### PUBLISHER
PUBLISHER 1 PUBLISHER-Y DROPPEN WANT MAAR 704 EXTRA

In [74]:
df.drop(['publisher_y'], axis=1, inplace=True)

In [75]:
df.rename(columns={'publisher_x': 'publisher'}, inplace=True)

In [76]:
df.head(5)

,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher,pages,rating,count_ratings,count_reviews,genres,perc_5stars,perc_4stars,perc_3stars,perc_2stars,perc_1stars,count_books_author,count_followers_author,author,awards,publicationyear
0,2020,2,1,What's it really like to be a carpenter? / Chr...,"Honders, Christine",Carpentry Vocational guidance Juvenile literat...,"PowerKids Press,",24.00,3.92,0,0,NaN,0,0,0,0,0,84.00,1.00,Christine Honders,0,2020.00
1,2020,2,2,Nana in the city / by Lauren Castillo.,"Castillo, Lauren","City and town life Juvenile fiction, Grandmoth...","Clarion Books, Houghton Mifflin Harcourt,",40.00,4.09,2710,581,"Genres,Picture Books,Family,Childrens,Fiction,...",34,43,19,2,1,28.00,141.00,Lauren Castillo,1,2014.00
2,2020,2,2,Blindness / José Saramago ; translated from th...,"Saramago, José","Blindness Fiction, Allegories, Psychological f...","Harcourt Brace & Company,",293.00,4.16,263610,21675,"Genres,Fiction,Dystopia,Science Fiction,Classi...",44,35,14,4,1,313.00,14100.00,José Saramago,2,1998.00
3,2020,2,4,The liar's girl / Catherine Ryan Howard.,"Howard, Catherine Ryan","Serial murderers Fiction, Murder Investigation...","Blackstone Publishing,",330.00,3.92,17642,1642,"Genres,Mystery,Thriller,Fiction,Audiobook,Myst...",24,48,23,3,1,22.00,2689.00,Catherine Ryan Howard,1,2018.00
4,2020,2,1,The aloha quilt / Jennifer Chiaverini.,"Chiaverini, Jennifer","Compson Sylvia Fictitious character Fiction, Q...","Thorndike Press,",324.00,3.89,4946,653,"Genres,Fiction,Quilting,Chick Lit,Historical F...",29,37,27,5,1,56.00,3890.00,Jennifer Chiaverini,0,2010.00

In [77]:
len(df[df['publisher'].isna()])

814

In [78]:
df['publisher'].fillna('unknown', inplace=True)

#### SUBJECTS

In [79]:
df['genres'].fillna(',', inplace=True)

In [80]:
df['genres'] = df.apply(lambda r: r['genres'].split(',')[1:], 1)

In [81]:
df.head(5)

,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher,pages,rating,count_ratings,count_reviews,genres,perc_5stars,perc_4stars,perc_3stars,perc_2stars,perc_1stars,count_books_author,count_followers_author,author,awards,publicationyear
0,2020,2,1,What's it really like to be a carpenter? / Chr...,"Honders, Christine",Carpentry Vocational guidance Juvenile literat...,"PowerKids Press,",24.00,3.92,0,0,[],0,0,0,0,0,84.00,1.00,Christine Honders,0,2020.00
1,2020,2,2,Nana in the city / by Lauren Castillo.,"Castillo, Lauren","City and town life Juvenile fiction, Grandmoth...","Clarion Books, Houghton Mifflin Harcourt,",40.00,4.09,2710,581,"[Picture Books, Family, Childrens, Fiction, St...",34,43,19,2,1,28.00,141.00,Lauren Castillo,1,2014.00
2,2020,2,2,Blindness / José Saramago ; translated from th...,"Saramago, José","Blindness Fiction, Allegories, Psychological f...","Harcourt Brace & Company,",293.00,4.16,263610,21675,"[Fiction, Dystopia, Science Fiction, Classics,...",44,35,14,4,1,313.00,14100.00,José Saramago,2,1998.00
3,2020,2,4,The liar's girl / Catherine Ryan Howard.,"Howard, Catherine Ryan","Serial murderers Fiction, Murder Investigation...","Blackstone Publishing,",330.00,3.92,17642,1642,"[Mystery, Thriller, Fiction, Audiobook, Myster...",24,48,23,3,1,22.00,2689.00,Catherine Ryan Howard,1,2018.00
4,2020,2,1,The aloha quilt / Jennifer Chiaverini.,"Chiaverini, Jennifer","Compson Sylvia Fictitious character Fiction, Q...","Thorndike Press,",324.00,3.89,4946,653,"[Fiction, Quilting, Chick Lit, Historical Fict...",29,37,27,5,1,56.00,3890.00,Jennifer Chiaverini,0,2010.00

In [82]:
df['subjects'].fillna('', inplace=True)

In [83]:
df['subjects'] = df.apply(lambda r: r['subjects'].split(','), 1)

In [84]:
dfS=df[['genres', 'subjects']]

In [85]:
dfS[dfS['subjects'].str.get(0)==''].head()

                                                 genres subjects
76                                      [Poetry, Adult]       []
661   [Poetry, Nature, Nonfiction, Spirituality, Adu...       []
814   [Plays, Drama, Humor, Theatre, Fiction, Audiob...       []
851   [Poetry, India, Indian Literature, Asia, Marat...       []
1128  [Poetry, Feminism, Essays, Nonfiction, Queer, ...       []

In [86]:
dfS['genres']=dfS['genres'].mask(dfS['genres'].str.get(0)=='')
dfS['subjects']=dfS['subjects'].mask(dfS['subjects'].str.get(0)=='')

C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\767765065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfS['genres']=dfS['genres'].mask(dfS['genres'].str.get(0)=='')
C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\767765065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfS['subjects']=dfS['subjects'].mask(dfS['subjects'].str.get(0)=='')

In [87]:
dfS=dfS.bfill(axis='columns')

In [88]:
dfS.drop('subjects', axis=1, inplace=True)
df.drop(['subjects', 'genres'], axis=1, inplace=True)
dfS.head()

                                              genres
0  [Carpentry Vocational guidance Juvenile litera...
1  [Picture Books, Family, Childrens, Fiction, St...
2  [Fiction, Dystopia, Science Fiction, Classics,...
3  [Mystery, Thriller, Fiction, Audiobook, Myster...
4  [Fiction, Quilting, Chick Lit, Historical Fict...

In [89]:
df=df.merge(dfS, left_index=True, right_index=True)
df.head()

,checkoutyear,checkoutmonth,checkouts,title,creator,publisher,pages,rating,count_ratings,count_reviews,perc_5stars,perc_4stars,perc_3stars,perc_2stars,perc_1stars,count_books_author,count_followers_author,author,awards,publicationyear,genres
0,2020,2,1,What's it really like to be a carpenter? / Chr...,"Honders, Christine","PowerKids Press,",24.00,3.92,0,0,0,0,0,0,0,84.00,1.00,Christine Honders,0,2020.00,[Carpentry Vocational guidance Juvenile litera...
1,2020,2,2,Nana in the city / by Lauren Castillo.,"Castillo, Lauren","Clarion Books, Houghton Mifflin Harcourt,",40.00,4.09,2710,581,34,43,19,2,1,28.00,141.00,Lauren Castillo,1,2014.00,"[Picture Books, Family, Childrens, Fiction, St..."
2,2020,2,2,Blindness / José Saramago ; translated from th...,"Saramago, José","Harcourt Brace & Company,",293.00,4.16,263610,21675,44,35,14,4,1,313.00,14100.00,José Saramago,2,1998.00,"[Fiction, Dystopia, Science Fiction, Classics,..."
3,2020,2,4,The liar's girl / Catherine Ryan Howard.,"Howard, Catherine Ryan","Blackstone Publishing,",330.00,3.92,17642,1642,24,48,23,3,1,22.00,2689.00,Catherine Ryan Howard,1,2018.00,"[Mystery, Thriller, Fiction, Audiobook, Myster..."
4,2020,2,1,The aloha quilt / Jennifer Chiaverini.,"Chiaverini, Jennifer","Thorndike Press,",324.00,3.89,4946,653,29,37,27,5,1,56.00,3890.00,Jennifer Chiaverini,0,2010.00,"[Fiction, Quilting, Chick Lit, Historical Fict..."

In [90]:
len(df[df['genres'].isna()])

913

In [91]:
df['genres']=df['genres'].fillna('unknown').apply(list)

#### AUTHOR

In [92]:
len(df[(df['creator'].isna())&(df['author'].notna())])

86768

In [93]:
dfC=df[['creator', 'author']]

In [94]:
dfC['creator'].fillna('creator, unknown', inplace=True)

C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\3080818854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC['creator'].fillna('creator, unknown', inplace=True)

In [95]:
dfC['creator'] = dfC.apply(lambda r: r['creator'].split(', ')[:2], 1)

C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\1912804017.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC['creator'] = dfC.apply(lambda r: r['creator'].split(', ')[:2], 1)

In [96]:
dfC.tail()

                        creator               author
2158059          [Dunn, Carola]          Carola Dunn
2158060      [creator, unknown]         Roger Holmes
2158061  [Burton, Virginia Lee]  Virginia Lee Burton
2158062         [Khorram, Adib]         Adib Khorram
2158063          [Mayne, Roger]          Roger Mayne

In [97]:
dfC['creator'][0][1]

'Christine'

In [98]:
def first_name_select(name):
    if len(name)>1:
        return name[1]
    else:
        return ''

In [99]:
dfC['first_name']=dfC['creator'].apply(first_name_select)
dfC['last_name']=dfC.apply(lambda r: r['creator'][0], 1)

C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\1686554487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC['first_name']=dfC['creator'].apply(first_name_select)
C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\1686554487.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC['last_name']=dfC.apply(lambda r: r['creator'][0], 1)

In [100]:
dfC.tail()

                        creator               author    first_name last_name
2158059          [Dunn, Carola]          Carola Dunn        Carola      Dunn
2158060      [creator, unknown]         Roger Holmes       unknown   creator
2158061  [Burton, Virginia Lee]  Virginia Lee Burton  Virginia Lee    Burton
2158062         [Khorram, Adib]         Adib Khorram          Adib   Khorram
2158063          [Mayne, Roger]          Roger Mayne         Roger     Mayne

In [101]:
dfC['creator']=dfC['first_name']+' '+dfC['last_name']
dfC.drop(['first_name', 'last_name'], axis=1, inplace=True)

C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\3223608817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC['creator']=dfC['first_name']+' '+dfC['last_name']
C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\3223608817.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC.drop(['first_name', 'last_name'], axis=1, inplace=True)

In [102]:
dfC['creator']=dfC['creator'].mask(dfC['creator']=='unknown creator')

C:\Users\jenni\AppData\Local\Temp\ipykernel_22844\3993559528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC['creator']=dfC['creator'].mask(dfC['creator']=='unknown creator')

In [103]:
dfC=dfC.bfill(axis='columns')

In [104]:
dfC['creator'].fillna('unknown', inplace=True)

In [105]:
dfC.drop('author', axis=1, inplace=True)
df.drop(['creator', 'author'], axis=1, inplace=True)

In [106]:
df=df.merge(dfC, left_index=True, right_index=True)
df.head()

,checkoutyear,checkoutmonth,checkouts,title,publisher,pages,rating,count_ratings,count_reviews,perc_5stars,perc_4stars,perc_3stars,perc_2stars,perc_1stars,count_books_author,count_followers_author,awards,publicationyear,genres,creator
0,2020,2,1,What's it really like to be a carpenter? / Chr...,"PowerKids Press,",24.00,3.92,0,0,0,0,0,0,0,84.00,1.00,0,2020.00,[Carpentry Vocational guidance Juvenile litera...,Christine Honders
1,2020,2,2,Nana in the city / by Lauren Castillo.,"Clarion Books, Houghton Mifflin Harcourt,",40.00,4.09,2710,581,34,43,19,2,1,28.00,141.00,1,2014.00,"[Picture Books, Family, Childrens, Fiction, St...",Lauren Castillo
2,2020,2,2,Blindness / José Saramago ; translated from th...,"Harcourt Brace & Company,",293.00,4.16,263610,21675,44,35,14,4,1,313.00,14100.00,2,1998.00,"[Fiction, Dystopia, Science Fiction, Classics,...",José Saramago
3,2020,2,4,The liar's girl / Catherine Ryan Howard.,"Blackstone Publishing,",330.00,3.92,17642,1642,24,48,23,3,1,22.00,2689.00,1,2018.00,"[Mystery, Thriller, Fiction, Audiobook, Myster...",Catherine Ryan Howard
4,2020,2,1,The aloha quilt / Jennifer Chiaverini.,"Thorndike Press,",324.00,3.89,4946,653,29,37,27,5,1,56.00,3890.00,0,2010.00,"[Fiction, Quilting, Chick Lit, Historical Fict...",Jennifer Chiaverini

#### DONE

In [6]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2158064 entries, 0 to 2158063
Data columns (total 19 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   checkoutyear            2158064 non-null  int64
 1   checkoutmonth           2158064 non-null  int64
 2   checkouts               2158064 non-null  int64
 3   publisher               2158064 non-null  object
 4   pages                   2158064 non-null  float64
 5   rating                  2158064 non-null  float64
 6   count_ratings           2158064 non-null  int64
 7   count_reviews           2158064 non-null  int64
 8   perc_5stars             2158064 non-null  int64
 9   perc_4stars             2158064 non-null  int64
 10  perc_3stars             2158064 non-null  int64
 11  perc_2stars             2158064 non-null  int64
 12  perc_1stars             2158064 non-null  int64
 13  count_books_author      2158064 non-null  float64
 14  count_followers_author  2158064 non-null  float64
 15  awards                  2158064 non-null  int64
 16  publicationyear         2158064 non-null  float64
 17  genres                  2158064 non-null  object
 18  creator                 2158064 non-null  object
dtypes: float64(5), int64(11), object(3)
memory usage: 312.8+ MB

In [ ]:
df.to_csv('SPL_fe.csv')